@font-face {
    font-family: 'Rounded';
    src: url('../../fonts/houschkarounded_bold.woff') format('woff2');
  
}

.frontend-title {
    font-family: 'Fredoka One (RUS BY ME)';
    font-size: 7vw;
    margin: 0;
    text-align: center;
}

.frontend-subtitle {
  font-family: 'Fredoka One (RUS BY ME)';
  margin: 0;
  text-align: center;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
