@font-face {
    font-family: 'Tricker-Regular';
    src: url('../../fonts/Thicker-Regular-TRIAL.woff') format('woff2');
}

.morning-app-footer {
    width: 70vw;
    max-width: 900px; 
    margin: 0 auto; 
    color: rgb(255, 255, 255);
    text-align: center;
    font-family:'Tricker-Regular';
    position: relative;
    margin-top: 40px; 
}