@font-face {
  font-family: 'Kefa';
  src: url('../../fonts/Kefa.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

.footer-content a{
    color: rgb(255, 255, 255);

}

.footer-content p span {
    font-family:"Kefa";
}

/* Общие стили для мобильных устройств */
@media (max-width: 768px) {
    .footer-content {
        padding: 10px;
    }
    
    .footer-content p {
        font-size: 14px;
        margin: 8px 0;
    }
}